body {
  background-color:white;
  font-family: 'PT Sans';
  font-style: normal;
}

.navigation-link-current{

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 68px;
  height: 24px;
  color:black
}
.navigation-link{

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 82px;
  height: 24px;
  color:black;
}
.navigation-link-hostel{

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 93px;
  height: 24px;
  color: black;
}
.navigation-link-want{

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 92px;
  height: 20px;
  color: white;
}
.advantages-title-white{

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: white;
}
.advantages-description-white{

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
  color: white;
}
.advantages-title-square{

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: black;
}
.advantages-description-near{

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 42px;
  color: #333333;
}
.advantages-title-nice{

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: black;
}
.advantages-description-1{

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 42px;
  color: #333333;
}
.advantages-title-tyrest{

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: black;
}
.advantages-description-all{

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  height: 42px;
  text-align: center;
  color: #333333;
}

.advantages-title-most{

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: white;
}
.advantages-description-if{

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
  color: white;
}
